name: Update GitHub Actions Refs

on:
  schedule:
    - cron: '0 9 * * 1'
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

jobs:
  update-versions:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - run: npx actions-up --yes
        env:
          GITHUB_TOKEN: ${{ github.token }}
      - uses: peter-evans/create-pull-request@98357b18bf14b5342f975ff684046ec3b2a07725 # v8.0.0
        with:
          token: ${{ github.token }}
          commit-message: '[skip ci] Update GitHub Actions Refs'
          title: '[skip ci] Update GitHub Actions Refs'
          body: |
            Automated update of GitHub Actions Refs in `.github` via the `actions-up` utility.
          branch: auto-update-gha-refs-${{ github.run_number }}
          delete-branch: true
          assignees: lukebakken,the-mikedavis,SimonUnge
